@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128');



* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.wall img{
    position: absolute;
    left: 0px;
    top: 5px;
    width: 350px;
    height: 350px;
    overflow: hidden;
   
}


body{
    background: linear-gradient(45deg, rgba(219,219,219,1) 13%, rgba(241,241,241,1) 43%, rgba(255,255,255,1) 100%);
}

.option{
    border-style: solid;
    border-width: 1px;
    border-color: #3425be;
    position: absolute;
    font-family: arial;
    font-weight: bold;  
    height: 30px;
    background: #3425be;
    color: beige;
    margin: 40px 10px;
    width: 20%;
    float: left;
    top: 0px;
}

.credits{
    margin: 0;
    float: left;
    width : 20%;
    position: absolute;
    bottom : 0px;
    margin: 50px 15px;
}

.creditsValue{
    font-family: Roboto;
    font-size: 12px;
    color: #424242;
}

.chatbox{
    position: absolute;
    right: 0px;
    top: 0px;
    float: right;
    width: 75%;
    height: 87vh;
    background: linear-gradient(51deg, rgba(4,1,65,1) 0%, rgba(43,43,209,1) 70%, rgba(102,184,201,1) 100%);
    padding: 20px;
    margin: 35px 15px;
    
    border-radius: 10px;


}

.logs{
    padding: 10px;
    width: 100%;
    height: 85%;
    background-color: #dddddd;
    overflow-y: scroll;
}


.logs::-webkit-scrollbar{
    width: 8px;
}

.logs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.753);
}
.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .profile{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
}

.bot .profile img{
    width: 100%;
    height: 100%;   
}



.chat .message{
    width: 75%;
    padding: 15px;
    margin: 5px 10px 0;
    color: beige;
    font-size: 18px;
    border-radius: 10px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

@media (max-width: 769px){
    .chat .message{
        font-size: 36px;
    }
    .chatbox{
        height: 60vh;
    }
}

.bot .message{
    background: rgba(43,43,209,1);
}

.user .message{
    order: -1;
    background: #838383;
    margin-left: 16vw;
}

.queries{
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
}

.queries textarea{
    background: whitesmoke;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: black;
}

.queries textarea:focus{
    background: #fff;
}

.queries textarea::-webkit-scrollbar{
    width: 8px;
}

.queries textarea::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: dimgray;
}

.queries button{
    font-family: Roboto;
    background: #1e1383c7;
    padding: 5px 15px;
    font-size: 18px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    cursor: pointer;

}

.queries button:hover{
    background: #1e1383;
}


